<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/navbar.css" rel="stylesheet">
</head>

<body class="bg-primary">

<nav class="navbar navbar-expand-lg navbar-dark mb-4">
    <div class="container">
        <a class="navbar-brand text-white" href="#">Enduro</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/EnduroApp/Html/EnduroRegistration.html">Entrée</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/EnduroApp/Html/EnduroRetour.html">Retour</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="app">

    <div class="container ">
        <div class="row">
            <div class="col-md-6 offset-md-3 ">
                <div class="search-container">


                    <h2 class="text-center text-white mb-4">Retour des dossards</h2>

                    <div id="searchResults" class="mt-4">
                        <select class="form-select mt-2" id="ticketList" v-model="idTicketsSelected">
                            <option v-for="p in filteredDossard" :class="p.color_number" :value="p.IdTicket">Dossard {{p.number}} - Fond {{p.background_color}} / Texte {{p.color_number}}</option>
                        </select>
                    </div>

                    <div id="additionalDetails" class="card mt-4">
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="raceNumber" class="form-label">Numéro du dossard :</label>
                                <input type="text" class="form-control" id="raceNumber" v-model="DossardNumber" >
                            </div>

                            <div class="mb-3">
                                <label for="shirtColor" class="form-label">Couleur du dossard :</label>
                                <select class="form-select" id="shirtColor" v-model="DossardColor">
                                    <option value=""></option>
                                    <option value="Bleu">Bleu</option>
                                    <option value="Vert">Vert</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="fontColor" class="form-label">Couleur de police :</label>
                                <select class="form-select" id="fontColor" v-model="DossardNumberColor">
                                    <option value=""></option>
                                    <option value="Noir">Noir</option>
                                    <option value="Blanc">Blanc</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div v-if="participantChosen !== null " id="ticketDetails" class="card mt-4">
                        <div class="card-body">
                            <p><strong>Nom: </strong> {{participantChosen.last_name}} <span id="ticketName"></span></p>
                            <p><strong>Prénom: </strong>{{participantChosen.first_name}}<span id="ticketFirstName"></span></p>
                            <p><strong>Ticket: </strong>{{participantChosen.ticket_number}}<span id="ticket_number"></span></p>
                            <p><strong>Repas : </strong>{{participantChosen.meal_tickets}}<span class ="ps-1" id="ticketMealNumber"></span></p>
                            <p><strong>Téléphone: </strong> {{participantChosen.phone_number}}<span class="ps-3" id="ticketPhone"></span></p>
                            <p>
                                <strong>Information: </strong>
                                <input style="border: none;" type="text" v-model="participantChosen.information" class="">
                                <span class ="ps-5" id="ticketComment"></span>
                                <button @click="UpdateTicket('information',participantChosen.information)" type="button" class="btn btn-success btn-sm">Modifier</button>
                            </p>

                            <div v-if="participantChosen.return_date != null"  class="form-check">
                                <input class="form-check-input" type="checkbox" id="dossardReturn"  style="background-color: green;"checked disabled>
                                <label class="form-check-label" for="dossardReturn">
                                    Dossard rendu
                                </label>
                            </div>

                            <div v-else class="form-check">
                                <input class="form-check-input" type="checkbox" id="dossardReturn" style="background-color: red;" @click="this.UpdateDossard()">
                                <label class="form-check-label" for="dossardReturn" >
                                    Dossard non rendu
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="../Js/EnduroRetour.js"></script>
</body>
</html>