<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/navbar.css" rel="stylesheet">
</head>

<body class="bg-primary">

<nav class="navbar navbar-expand-lg navbar-dark mb-4">
    <div class="container">
        <a class="navbar-brand text-white" href="#">Enduro</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/EnduroApp/Html/EnduroRegistration.html">Entrée</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/EnduroApp/Html/EnduroRetour.html">Retour</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="app">

    <div class="container ">
        <div class="row">
            <div class="col-md-6 offset-md-3 ">
                <div class="search-container">
                    <h2 class="text-center text-white mb-4">Recherche de Tickets</h2>

                    <div id="searchResults" class="mt-4">
                        <input type="text" class="form-control" v-model="searchQuery" placeholder="Rechercher ...">
                        <select class="form-select mt-2" id="ticketList" v-model="idTicketsSelected">
                            <option v-for="p in filteredTickets" :value="p.idTicket"> {{p.ticket_number}} - {{p.last_name}} {{p.first_name}}</option>
                        </select>
                    </div>

                    <div v-if="idTicketsSelected" id="ticketDetails" class="card mt-4">
                        <div class="card-body">
                            <p><strong>Nom : </strong>{{ticketChosen.last_name}} <span id="ticketName"></span></p>
                            <p><strong>Prénom : </strong>{{ticketChosen.first_name}} <span id="ticketFirstName"></span></p>
                            <p><strong>Ticket : </strong> {{ticketChosen.ticket_number}}<span id="ticket_number"></span></p>
                            <p><strong>Type : </strong> {{ticketChosen.type}}<span id="type"></span></p>
                            <p>
                                <strong>Plaque: </strong>
                                <input style="border: none;" type="text" v-model="ticketChosen.plate_number">
                                <span class="ps-5" id="plateNumber"></span>
                                <button v-if="idTicketsSelected !=null" @click="UpdateVehicles('plate_number',ticketChosen.plate_number,ticketChosen.idVehicles)" type="button" class="btn btn-success btn-sm">Modifier</button>
                            </p>
                            <p>
                                <strong>Téléphone : </strong>
                                <input style="border: none;" type="text" v-model="ticketChosen.phone_number">
                                <span class="ps-3" id="ticketPhone"></span>
                                <button v-if="idTicketsSelected !=null" @click="UpdateTicket('phone_number',ticketChosen.phone_number)" type="button" class="btn btn-success btn-sm">Modifier</button>
                            </p>
                            <p>
                                <strong>Information : </strong>
                                <input style="border: none;" type="text" v-model="ticketChosen.information" class="">
                                <span class ="ps-1" id="ticketComment"></span>
                                <button v-if="idTicketsSelected !=null" @click="UpdateTicket('information',ticketChosen.information)" type="button" class="btn btn-success btn-sm">Modifier</button>
                            </p>
                            <div v-if="payment === true">

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="paymentCheckbox"  style="background-color: green;" @click="ModifyPayment()" checked>
                                    <label class="form-check-label" for="paymentCheckbox">
                                        Paiement reçu
                                    </label>
                                </div>
                            </div>
                            <div v-else-if="payment === false && idTicketsSelected !=null">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="paymentCheckbox" style="background-color: red;" @click="ModifyPayment()">
                                    <label class="form-check-label" for="paymentCheckbox">
                                        Paiement non reçu
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div v-if="idTicketsSelected" id="additionalDetails" class="card mt-4">
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="raceNumber" class="form-label">Numéro du dossard :</label>
                            <input type="text" class="form-control" id="raceNumber" v-model="dossard.number">
                        </div>

                        <div class="mb-3">
                            <label for="shirtColor" class="form-label">Couleur du dossard :</label>
                            <select class="form-select" id="shirtColor" v-model="dossard.background_color">
                                <option value="Bleu">Bleu</option>
                                <option value="Vert">Vert</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="fontColor" class="form-label">Couleur de police :</label>
                            <select class="form-select" id="fontColor" v-model="dossard.color_number">
                                <option value="Noir">Noir</option>
                                <option value="Blanc">Blanc</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <button v-if="idTicketsSelected !=null && dossardAvailaible === true" type="button" class="btn btn-success btn-sm" @click="InsertDossard()">Ajouter</button>
                            <button v-else-if="idTicketsSelected" type="button" class="btn btn-danger btn-sm" @click="RemoveDossard()">Retirer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../Js/EnduroRegistration.js"></script>
</body>
</html>
